.app {
  display: flex;
  align-content: center;
  margin: 10px 430px 0 450px;
  padding: 4px;
  background-image: url("https://cbsbaltimore.files.wordpress.com/2016/11/category_weather_500x500.png?w=310&h=310&crop=1");
  /* background-color: rgb(56, 128, 221); */
  height: 300px;
  border-radius: 4px;
}
.app {
  border: 1px solid rgb(19, 18, 18);
}

input {
  width: 50%;
  border-radius: 6px;
}
button {
  border-radius: 6px;
  background-color: rgb(235, 235, 241);
  color: rgb(59, 59, 59);
  font-style: italic;
}
.input > button:hover {
  background-color: rgb(47, 44, 230);
  cursor: pointer;
  transition: background-color 0.3s;
  color: aliceblue;
}
.cloud {
  color: rgb(232, 231, 236);
}
