.main {
  display: flex;
  flex-direction: column;
}

img {
  width: 30px;
  height: 30px;
}
/* .all {
  border: 3px solid white;
} */
.pressure {
  color: rgb(239, 245, 245);
}
.humidity {
  color: rgb(237, 243, 243);
}
.temperature {
  color: rgb(228, 236, 236);
}
/* .all {
  border-radius: 4px;
} */
